.container {
    position: absolute;
    top: 325px;
    transform: translateX(49%);
    right: 51%;
    width: 973px;
    height: 160px;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 200px;
    line-height: 160px;
    text-align: center;
    letter-spacing: -0.02em;

    @media (max-width: 1440px) {
        top: 280px;
        width: 700px;
        height: 120px;
        font-size: 140px;
        line-height: 120px;

        @media (max-width: 768px) {
            top: 250px;
            width: 450px;
            height: 80px;
            font-size: 100px;
            line-height: 80px;
        }

        @media (max-width: 600px) {
            top: 200px;
            width: 350px;
            height: 70px;
            font-size: 70px;
            line-height: 70px;
        }

        @media (max-width: 425px) {
            top: 200px;
            width: 300px;
            height: 60px;
            font-size: 60px;
            line-height: 60px;
        }

        @media (max-width: 320px) {
            top: 163px;
            width: 273px;
            height: 73px;
            font-size: 56px;
            line-height: 72px;
        }
    }

    .timeFrom {
        color: #5d5fef;
    }

    .timeTo {
        color: #ef5da8;
    }
}
